<html>
<head></head>


<body>

  <h3>Enter New Trip</h3>

  <form action='/trips' method='post'>
    <input type="text" name="title" />
    <input type="date" name="leave"/>
    <input type="date" name="comeBack"/>
    <input type="text" name="imageURL" />
    <input type="submit" />
  </form>

  <form action='/logout' method='post'>
    <input type='submit' value='Logout'/>
  </form>
  
</body>

</html>
