<html>
<head></head>


<body>

  <h3>Enter New Trip</h3>

  <form action='/trips' method='post'>
    <input type="text" placeholder="city" name="title" />
    Leave: <input type="date" name="leave"/>
    Return: <input type="date" name="comeBack"/>
    <input type="text" placeholder="image url" name="imageURL" />
    <input type="submit" />
  </form>

  <form action='/logout' method='post'>
    <input type='submit' value='Logout'/>
  </form>


  <ul id="chatMessagesList">
  </ul>

  <input type="text" id="chatMessageTextBox"/>
  <button id="btnSend">Send</button>

</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
</html>
