<html>
<head></head>


<body>

  <h3>Enter New Trip</h3>

  <form action='/trips' method='post'>
    <input type="text" name="title" />
    <input type="text" name="imageURL" />
    <input type="submit" />
  </form>

</body>

</html>
